
<template>
  <div class="form-add">
    <h1>Добавить новый товар</h1>
    <form v-on:submit.prevent="onAdd">
      <div v-for="(type, name) in struct" :key="name">
        {{name}}: {{type}}
        <div v-if="type === 'String'">
          <input type="text" :placeholder="name" v-model="formData[name]">
        </div>
        <div v-else-if="type === 'Number'">
          <input type="Number" :placeholder="name" v-model="formData[name]">
        </div>
        <div v-else-if="type === '[String]'">
          <div v-for="i in formData.Images.length" :key="i">
            <input type="text" :placeholder="name" v-model="formData.Images[i-1]">
            <button @click="addText">+</button>
          </div>
        </div>
        <hr>
      </div>
      <button type="submit">Добавить</button>

    </form>
    </div>
</template>

<script>
/* eslint-disable */

export default {
  name: "FormToAdd",
  beforeCreate() {
    this.$http.get("http://localhost:4500/getSctruct").then(response => {
      this.struct = response.data.struct;
    });
  },
  data() {
    return {
      struct: {},
      formData: {
        Images: [""]
      }
    };
  },
  methods: {
    addText: function() {
      this.formData.Images.push("");
    },
    onAdd: function() {
      console.log(this.formData);
      this.$http
        .post("http://localhost:4500/ad", this.formData)
        .then(response => {
          console.log(response.data);
        });
    }
  }
};
</script>


<style scoped>

</style>
