
<template>
  <FormToAdd></FormToAdd>
</template>

<script>
/* eslint-disable */
import FormToAdd from "@/components/FormToAdd";

export default {
  name: "HelloWorld",
  components: {
    FormToAdd
  },
  beforeCreate() {
    return;
    // this.$http.get("http://localhost:4500/getSctruct").then(response => {
    //   console.log(response.data);
    // });
  },
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>


<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
